# Ignore Python cache and virtual environments
__pycache__/
__*/
*.pyc
*.pyo
**/venv*/
**/env*/
*Env*/

# Ignore OS-specific files
.DS_Store
Thumbs.db

# Ignore build and log files
build/
dist/
weights/
runs/
temperature/
*.log

# Ignore model checkpoints and datasets artifacts
*.pt

# Ignore local Python environments
.venv/
envTrans/
transEnv/

# Ignore IDE/project settings
.vscode/
.idea/
*.swp
